body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: #ffffff url(./images/background.png) center center/cover repeat;
}

.container {
    text-align: center;
}

h1 {
    font-size: 5rem;
    font-weight: bolder;
    color: #1e1e1e;
}

form {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    font-size: 2rem;
    text-align: center;
    font-weight: 500;
}

input[type="number"] {
    padding: 10px;
    font-size: 2rem;
    font-weight: 500;
    border: 2px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

input[type="number"]:focus {
    outline: none;
    border: 2px solid #4CAF50;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button[type="submit"] {
    padding: 10px 20px;
    font-size: 2rem;
    font-weight: 500;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    background-color: #1e1e1e;
    color: white;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
}

#snackbar.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
